.header {
  position: relative; /* To allow reference point for positioned descendants */
  height: 95vh; /* 95% of the viewport height */


  /* Gradients are coded with "background-image" property.
     Multiple images may be specified, separated by comma.
     To ensure image stays on top, it must be listed last.
     "url()" is relative to current file */
  background-image: linear-gradient(to right bottom, rgba($color-primary-dark, .8), rgba($color-primary-light, 0.8)),
  url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

  /* Specify the region in which the element (.header) will be visible */
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);


  /* Div (block display) makes positioning the img (inline display) easier */
  &__logo-box {
    position: absolute;

    /* Offsets relative to nearest "positioned" (relative, absolute or fixed) ancestor */
    top: 4rem;
    left: 4rem;

  }

  &__logo {
    height: 3.5rem;   /* Width will scale accordingly */
  }

  &__text-box {
    position: absolute;
    top: 40%; /* Top of text box is positioned at 40% of parent element height */
    left: 50%; /* Left of text box is positioned at 50% of parent element width */

    transform: translate(-50%, -50%);  /* Percentages are relative to the element itself */

    text-align: center; /* Centers text descendants AND inline (including inline-block) descendants */
  }
}
