.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    border-bottom: 3px solid transparent;   // So that border-bottom on focus does not move lower inputs down
    font-family: inherit; // form inputs do not automatically inherit font family
    width: 90%;
    display: block;

    &:focus {
      color: $color-primary;
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::placeholder {
      color: $color-grey-dark-2;
      font-style: italic;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  // adjacent sibling selector +
  &__input:placeholder-shown + &__label {
    visibility: hidden;
    opacity: 0;  // with visibility hidden, doesn't do anything here; needed for animation, since visibility property doesn't animate
    transform: translateY(-4rem);
  }
}
